<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li class="collapsed no-link">
      <span>Projects</span>
      <ul>
        <li><a href="/Projects/Operation-Breakdown">Operation Breakdown</a></li>
        <!-- <li class="no-link"><span>Budding Babies</span></li> -->
      </ul>
    </li>
    <li><a href="/resume">Online Resume</a></li>
    <li class="spacer"></li>
    <li><a href="https://www.linkedin.com/in/searstom"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
  <ul>
</nav>
