nav {
  background-color: rgba(0,0,0,0.9);
  color: white;
  position: relative;
  z-index: 200;

  ul {
    list-style-type: none;

    li {
      margin-bottom: auto;
      cursor: pointer;
      position: relative;
      z-index: 200;

      i.fa {
        font-size: 1.2em;
      }
    }

    ul {
      padding-left: 0;
    }
  }

  >ul {
    display: flex;

    a {
      display: block;
      text-decoration: none;
      cursor: pointer;
      padding: 1em 2em;
      color: white;

      &:visited {
        color: white;
      }
    }

    >li {
      &:last-child {
        a {
          display: inline-block;
          padding: 1em;
        }
      }
    }

    li.no-link span {
      display: block;
      padding: 1em 2em;
    }

    li.collapsed {
      cursor: pointer;
      >span:after {
        content: "  \25BC";
        padding-left: 1em;
        font-size: 0.8em;
      }
    }

    li {
      > ul {
        transition: top 0.5s cubic-bezier(0, 1, 0.5, 1);
        position: absolute;
        width: auto;
      }
    }

    li.collapsed {
      > ul {
        top: 0;
        visibility: hidden;
        z-index: 0;
      }
    }

    li.expanded {
      position: relative;
      z-index: 200;
      background-color: rgba(255,255,255,0.8);
      color: rgba(0,0,0,0.8);

      >span::after {
        content: "  \25BC";
        padding-left: 1em;
        font-size: 0.8em;
      }

      > ul {
        background-color: rgba(0,0,0,0.9);
        color: rgba(255,255,255,0.8);
        white-space: nowrap;
        top: 3.4em;
        z-index: 100;
        max-height: 10em;

        @include drop-shadow(1em, 0.5);

        li:hover {
          background-color: #333;
        }
      }
    }

    li.spacer {
      flex-grow: 1;
    }
  }
}
