<!DOCTYPE html>
<html lang='{{ site.language }}'>
    <head>


    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" type="text/css"/>
    <link rel="stylesheet" href="{{ "/css/clean.css" | prepend: site.baseurl }}" type="text/css"/>
    <link rel="stylesheet" href="{{ "/css/print.css" | prepend: site.baseurl }}" type="text/css" media="print"/>

    </head>

    <body>

      {% include nav.html %}

      <div id="content">
        <div id="print-container">
          <a href="javascript: window.print()"><i class="fa fa-print" aria-hidden="true"></i> Printer Friendly</a>
        </div>
        {{ content }}
      </div>

      {% include footer.html %}

    </body>
</html>
